<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Will It Rain</title>
    <style>
    body{
        background-image: url(https://images.pexels.com/photos/913807/pexels-photo-913807.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
        background-size: cover;
    }

    h1{
        text-align: center;
        color: black;
    }

    .container{
        max-width: 800px;
        margin: 10% auto;
        padding: 20px;
        padding-bottom: 50px;
        border-radius: 10px;
        border-color: antiquewhite;
        background-color: #ccc;
    }

    form {
      margin-top: 20px;
    }

    input[type="text"],
    input[type="number"] {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-bottom: 10px;
    }

    input[type="submit"] {
      color: black;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
    }

    </style>
</head>

<body>
<div class="container">
    <%if(locals.content){%>
        <%var num = content.days[0].precipprob;%>
        <%if(num <= 70){%>
            <h1>Probability: <%=num%>! Find yourself a picnic spot!%></h1>
        <%} else {%>
            <h1>Probability: <%=num%>! Enjoy the rain with pakodas!%></h1>
        <%}%>
    <%} else {%>
        <h1>Will It Rain Here?</h1>
    <%}%>

    <form action="/submit" method="POST">
        <input type="text" name="latitude" placeholder="Latitude">
        <input type="text" name="longitude" placeholder="Longitude">
        <input type="submit" value="Let's Find Out!">
    </form>
</div>
</body>

</html>